<!DOCTYPE html>
<html>
    <head>
        
        <title>Triplan.好用的旅遊規劃網站</title>
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- jQuery library -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
        

    </head>
    <!-- id是我自己為元素命名的 class是我將元素歸為某特定類別 會有很多元素屬於同一類-->
    <body class = "bg-light">
        <style>
            
            .h-custom {
            height: calc(100% - 73px);
            margin:0 auto;
            }
            

        </style>
        {% load static %}
        <div>
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="{% url 'Loginpage' %}">&nbsp;&nbsp;&nbsp;&nbsp;Login.</a>
            </nav>

            <div class="container-fluid">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-6 col-md-6">
                        <img src="{% static 'travel.jpg' %}" class="img-fluid" alt="Sample image">
                    </div>
                        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 ">
                            <form action="" method='POST'>
                            <div>
                                <br><br><br><br>
                                <h2>Register</h2>
                                <br>
                                <!-- Account input -->
                                <label for="formControlInput" class="form-label">Name</label>
                                <input type="text" name="name" class="form-control" id="formControlInput" placeholder="Please enter your name">
                                <br>
                    
                                <!-- Gmail input -->
                                <label for="formControlInput" class="form-label">Account</label>
                                <input type="email" name="gmail" class="form-control" id="formControlInput" placeholder="Gmail Only">
                                <br>

                                <!-- Password input -->
                                <label for="formControlInput" class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" id="formControlInput" placeholder="Only English lowercase and numbers, 5-15 words">
                                <br>

                                <!-- Password affirm input -->
                                <label for="formControlInput" class="form-label">Confirm Password</label>
                                <input type="password" name="confirmpwd" class="form-control" id="formControlInput" placeholder="please enter your password again">
                                
                                
                                <div class="text-center text-lg-start mt-4 pt-2 sm-6">
                                <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">signup</button><br>
                                    <br><br><br>
                                {% if messages %}
                                    {% for messages in messages %}
                                        <p>{{messages}}</p>
                                    {% endfor %}
                                {% endif %}
                                    
                                    <br><br><br>
                                </div>
                                
                            </div>
                            </form>
                        </div>
                </div>
            </div>
            
        </div>

        <footer>
            <div class="container-fluid bg-dark py-0"> <!-- py-1指某一小塊的大小 py-0最小 py-6最大-->
                <p class="text-white text-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                    </svg>&nbsp;&nbsp;gmail:howardisbest@gmail.com<br>
                    All Rights Reserved &copy;2022
                </p>

            </div>
        </footer>

       

    </body>
</html>