
<html>
    <head>
        
        <title>Triplan.好用的旅遊規劃網站</title>
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- jQuery library -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js" ></script>


    </head>
    <!-- id是我自己為元素命名的 class是我將元素歸為某特定類別 會有很多元素屬於同一類-->
    <body class = "bg-light">

        <style>
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box; /* padding and border won't affect the orginal website height*/
                font-family: 'Poppins', sans-serif;
            }

            .container{
                
                display: flex;
                align-items: flex-start;  /** 垂直 **/
                justify-content: center;
                min-height: 20vh;  /** 把視窗分成100個vh**/

            }

            .wrapper{
                background: #fff;
                padding: 2px;  /** 元素邊框與元素內容之間的空間 **/
                max-width: 460px;
                width: 100%;
                border-radius: 3px;
            }

            .wrapper .item{
                background: rgb(182, 181, 181);
                display:flex;
                height: 40px;
                border-radius: 3px;
                padding: 12px 5px;
                margin-bottom: 8px; /* 每個draggable element的間距*/
                align-items: center;
                justify-content: space-between; /** 等距排列**/
            }

            .wrapper .item .text{
                font-size: 15px;
                font-weight: 400; /*字體粗細 */
            }

            .wrapper .item svg{
                font-size: 18px;
                cursor: pointer; /* 把鼠標變成一隻手手*/
            }

            .container .text-end{
                align-items: flex-start;
            }

            .card-img-top{
                height: 170px;
            }

        </style>

    <nav class="navbar navbar-dark bg-dark"> <!-- 最上面的bar-->

        <!--  Hello Users 的按鈕-->
        <div class="btn-group"  style="position: absolute; top: 8px; right: 165px; height: 40px; width: 50px;">
            <button type="button" class="btn btn-dark dropdown-toggle btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                Hello {{user_name}}
            </button>
            <!-- Hello Users 的下拉是選單-->
            <ul class="dropdown-menu dropdown-menu-sm-end dropdown-menu-xl-start">
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#PwdChange">Password Change</a></li>
            <div class="dropdown-divider"></div> <!-- 會把下拉選單分開-->
            <form method='POST'>
                <li><button class="dropdown-item" name="Logout">Logout</button></li>
            </form>
            </ul>

            <!-- modal 是彈出式視窗-->
            <form action="" method='POST'>
                <div class="modal fade" id="PwdChange" tabindex="-1" aria-labelledby="#modalBasicLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="#modalBasicLabel">Password Change</h5>
                                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body md-2">
                                <h6>&nbsp;&nbsp;Old Password</h6>
                                <input type="password" name="old_password" class="form-control mb-3" placeholder="Please enter old password">
                                <h6>&nbsp;&nbsp;New Password</h6>
                                <input type="password" name="new_password" class="form-control mb-2" placeholder="Please enter new password">
                                <input type="password" name="confirmpwd" class="form-control mb-2" placeholder="Please enter again">
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> <!-- data-bs-dismiss="modal"是讓close有close的功能 -->
                            <button type="submit" name="pswd_change" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>                         
                    </div>            
                </div>
            </form>

        </div>
        
        <a class="navbar-brand" href="{% url 'main' %}">&nbsp;&nbsp;&nbsp;&nbsp;Triplan.</a>  <!-- &nbsp;空格-->
        
        <!-- 旁邊的三根槓槓-->
        <div class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark" aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </div>

        <!-- 槓槓的下拉式選單-->
        <div class="collapse navbar-collapse" id="navbarDark">
            <ul class="navbar-nav mr-auto"> <!-- mr-auto 讓右邊空出來 -->
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'main' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'attractions' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Attraction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'plan_manager' %}" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plan Manager</a>
            </li>  
            </ul>
        </div>
    </nav>

    <br>
    <form action="" method="POST">
    <h3>&nbsp;&nbsp; {{project_name}} - Date: <input type="date" name="day_set"  value="{{ project_time |date:'Y-m-d'}}" min="2020-01-01" max="2024-12-31" step="1"> <!-- 讓時間間隔是1(天)-->
        <button>
        <svg width="24"   height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
        </button>
    </form>
    </h3>

        <form method="GET" class="d-flex" style="width:600px; float:right; position:absolute; right:50px;"> <!-- 搜尋框-->
            <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width:600px; ">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>


    

        
    <br><br><br>

        
    <div class="container">

        
        <div class="wrapper col-6" style="border-style: solid; padding: 5px; width: 50%; height:490px; overflow:hidden;">
            {% for att in attraction %}
                <!-- One-->
                <div class="item" >
                    <form action="" method="POST">
                    <input type="time" name="attraction_time" value="{{ att.time }}"  >
                    <button style="background:transparent ; border-width:0px" name="attraction_id" value="{{att.id_attraction_pa.id_attraction}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path class="works-check-icon-first" d="M 10 15 l -4 -4" stroke-dasharray="5.6568" stroke-width="2" stroke="#4e6de1" />
                            <path class="works-check-icon-last" d="M 9 15 l 8 -7" stroke-dasharray="10.6301" stroke-width="2" stroke="#4e6de1" />
                        </svg>
                    </button>
                    </form>

                    <span class="text">{{att.id_attraction_pa.name}}</span>
                    <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false" style="top: 0px;">
                        <svg width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        </svg>
                    </button>
                    
                    <form action="" method="POST">
                    <ul class="dropdown-menu" >
                        <li><button class="dropdown-item" type="submit" name="del" value="{{att.id_attraction_pa.id_attraction}}">Delete</button></li>
                    </ul>
                    </form>
                </div>
            {% endfor %}

            


        </div>
        {% block body %}
        <div class="container-fluid col-6">
            <div class="row">
                
                    {% for attractions in spot_search %}
                    
                    <!-- first card-->
                    <div class="col-md-6 mb-0 g-2">
                        <div class="card">
                            <img src="{{attractions.picture}}" alt="" class="card-img-top"> <!--card-img-top代表圖在頂部-->
                            <div class="card-body" data-bs-toggle="modal" data-bs-target="#Popup-{{forloop.counter}}" style="cursor: pointer;">
                                
                                <h5 class="card-title text-uppercase">{{attractions.name}}</h5>
                                <div class="test-muted">
                                    <p class="card-text">Read more</p>
                                </div>
                                <!-- popup 的modal-->
                                <div class="modal" id="Popup-{{forloop.counter}}" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalFullscreenLabel">{{attractions.name}}</h5>
                                            <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- <img src="{{attractions.picture}}" style="width: 300px; align-items: center;"> -->
                                            <p>{{attractions.detail}}</p>
                                                                        
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> <!-- data-bs-dismiss="modal" 讓close可以真的close-->
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                
                            </div>
                            <form action="" method="POST">
                            <div class="card-footer text-muted" style="height:45px;">
                                
                                <button type="submit" name="add" value="{{attractions.id_attraction}}"  class="btn btn-primary "  aria-expanded="false" style="position: absolute;  height: 30px; right: 0px; ">
                                        Add to plan
                                </button>
                                
                            </div>
                            </form>
                        </div>
                    </div>

                    {% endfor %}
                
            </div>
        </div>
        {% endblock body %}
        
    </div>

        <footer>
            <div class="container-fluid bg-dark py-0"> <!-- py-1指某一小塊的大小 py-0最小 py-6最大-->
                <p class="text-white text-end">
                    <svg width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                    </svg>&nbsp;&nbsp;gmail:howardisbest@gmail.com<br>
                all right reserved &copy;2022</p>

            </div>
        </footer>

        <script>
            const dragArea = document.querySelector(".wrapper");
            new Sortable(dragArea, {
                animation: 350
            })
        </script>


        
    </body>

</html>

